#board {
    background-color: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#coordinates {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    color: black;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#search {
    position: absolute;
    z-index: 2147483647;
    top: 0;
    right: 0;
    font-size: 14px;
    margin: 10px;
    padding: 10px;
    color: black;
}

<<<<<<< HEAD
#popup {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: black;
}
=======
.margin {
    margin: 5px;
}
>>>>>>> origin/main
