.post {
    background-color: #FBE364;
    height: 500px;
    width: 500px;
    padding: 30px;
    border-radius: 4px;
    border: none;
    outline: 0px solid transparent;
    caret-color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    white-space: normal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

:host {
    display: flex;
    flex-direction: row;
}

.styling {
    height: 500px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.post:empty::before {
    content: attr(data-placeholder);
    color: #8e8e8e;
}

.action-buttons button {
    min-width: 75px;
}

input {
    display: none;
}

.white-text {
    text-shadow: 2px 2px #000000;
    color: #ffffff;
}

.black-text {
    color: #000000;
}