div {
    position: absolute;
    background-color: #FBE364;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: url("https://media4.giphy.com/media/jUwpNzg9IcyrK/giphy.gif");
    // background-size: cover;
}

p {
    word-wrap: break-word;
    margin: 0px;
}

// dasdasdasdasdaddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd