<div [style.top.px]="this.computeScreenPosition().y" 
    [style.left.px]="this.computeScreenPosition().x" 
    [style.height.px]="getSize()" 
    [style.width.px]="getSize()"
    [style.align-items]="this.post.textAlign"
    [style.z-index]="this.post.size"
    [style.background-image]="this.imgUrl"
    [style.background-color]="this.post.backgroundColor">
    <p
    [style.max-width.px]="getSize()"
    [style.max-height.px]="getSize()"
    [style.font-size.px]="getFontSize()"
    [style.line-height.px]="getFontSize()"
    [style.color]="this.post.textColor"
    >{{ this.post.text }}</p>
    <div *ngIf="this.post.sound.length > 0" id="yooo" class="circleBase type1" 
        [style.width.%]="this.currentRadius1" 
        [style.height.%]="this.currentRadius1"
        [style.opacity]="this.currentOpacity1"></div>
    <div *ngIf="this.post.sound.length > 0" id="yooo" class="circleBase type1" 
        [style.width.%]="this.currentRadius2" 
        [style.height.%]="this.currentRadius2"
        [style.opacity]="this.currentOpacity2"></div>
</div>
