<div [style.top.px]="this.computeScreenPosition().y" 
    [style.left.px]="this.computeScreenPosition().x" 
    [style.height.px]="getSize()" 
    [style.width.px]="getSize()"
    [style.align-items]="this.post.textAlign"
    [style.z-index]="this.post.size"
    [style.background-image]="this.imgUrl"
    [style.background-color]="this.post.backgroundColor">
    <p
    [style.max-width.px]="getSize()"
    [style.max-height.px]="getSize()"
    [style.font-size.px]="getFontSize()"
    [style.line-height.px]="getFontSize()"
    [style.color]="this.post.textColor"
    >{{ this.post.text }}</p>
</div>